body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}

header {
    background-color: #beed8c;
}

nav {
    background-color: #a6d1eb;
}

main {
    background-color: #f1b6b6;
    font-size: 100%;
}

footer {
    background-color: #71cee8;
}

li {
    display: inline-block; 
    width: 200px;          
}

h1 {
    text-align: center;
    font-family: 'Georgia', serif;
    color: #2c3e50;
}

p {
    line-height: 1.6;
}
