body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 110%;
    background-color: #a6d1eb;
}

header {
    background-color: #beed8c;
}

nav {
    background-color: #a6d1eb;
}

main {
    background-color: #f1b6b6;
    font-size: 100%;
}

footer {
    background-color: #71cee8;
}

li {
    display: inline-block; 
    width: 200px;          
}

h1 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
}

p {
    line-height: 1.6;
}
